<div *ngIf="isReady">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="rate">
      <th mat-header-cell *matHeaderCellDef> Rate  </th>
      <td mat-cell *matCellDef="let element"> {{element.rate}} </td>
    </ng-container>

    <ng-container matColumnDef="npv">
      <th mat-header-cell *matHeaderCellDef> Net Present Value </th>
      <td mat-cell *matCellDef="let element"> {{element.npv}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>