<div class="npv">
  <mat-toolbar>Npv Calculator</mat-toolbar>
  <mat-card>
    <form class="form-container" [formGroup]="npvForm" (ngSubmit)="compute()">
      <mat-form-field>
        <span matPrefix>$</span>
        <input matInput placeholder="Initial Investment" type="number" formControlName="initialInvestment">
        <mat-error
          *ngIf="npvForm.controls['initialInvestment'].hasError('positiveNumber') && !npvForm.controls['initialInvestment'].hasError('required')">
          Initial Investment should be greater than 0 as this will be deducted to the Computed Present Values.
        </mat-error>
        <mat-error *ngIf="npvForm.controls['initialInvestment'].hasError('required')">
          Initial Investment is required
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Lower Bound Discount Rate" type="number" formControlName="lowerBound">
        <span matSuffix>%</span>
        <mat-error *ngIf="npvForm.controls['lowerBound'].hasError('positiveNumber') && !npvForm.controls['lowerBound'].hasError('required')">
          Lower Bound Discount Rate should be greater than 0
        </mat-error>
        <mat-error *ngIf="npvForm.controls['lowerBound'].hasError('required')">
          Lower Bound Limit is required
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Upper Bound Discount Rate" type="number" formControlName="upperBound">
        <span matSuffix>%</span>
        <mat-error *ngIf="npvForm.controls['upperBound'].hasError('positiveNumber') && !npvForm.controls['upperBound'].hasError('required')">
          Upper Bound Discount Rate should be greater than 0
        </mat-error>
        <mat-error *ngIf="npvForm.hasError('upperBound') && !npvForm.controls['upperBound'].hasError('required')">
          Upper Bound Discount Rate should be greater than the Lower Bound Limit
        </mat-error>
        <mat-error *ngIf="npvForm.controls['upperBound'].hasError('required')">
          Upper Bound Discount Rate is required
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Discount Rate Increment" type="number" formControlName="increment">
        <span matSuffix>%</span>
        <mat-error *ngIf="npvForm.controls['increment'].hasError('positiveNumber') && !npvForm.controls['increment'].hasError('required')">
          Discount Rate Increment should be greater than 0
        </mat-error>
        <mat-error *ngIf="npvForm.controls['increment'].hasError('required')">
          Discount Rate Increment is required
        </mat-error>
      </mat-form-field>

      <h3>Cash Flows</h3>
      <div formArrayName="cashFlows" class="cash-flows">
        <ng-container *ngFor="let cashFlow of npvForm['controls'].cashFlows['controls']; let i = index">
          <ng-container formGroupName="{{i}}">
            <mat-form-field>
              <span matPrefix>Year {{ i + 1 }} $ </span>
              <input matInput placeholder="Cash Flow" type="number" formControlName="value">
              <mat-icon matSuffix (click)="removeCashFlow(i)" class="clickable">x</mat-icon>
            </mat-form-field>
          </ng-container>
          <br />
        </ng-container>
      </div>

      <button mat-button color="primary" type="button" (click)="addCashFlow()">Add Year</button>
      <button mat-button color="primary" type="submit" [disabled]="isLoading || npvForm.invalid">Compute</button>
    </form>
    <app-results *ngIf="computedValues" [computedValues]="computedValues">
    </app-results>
  </mat-card>
</div>